* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  padding: 14px;
  background: yellow;
  display: inline-block;
  border: 2px solid midnightblue;
  border-radius: 25px;
  color: green;
}
