* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  line-height: 1.4;
  font-family: "McLaren", cursive;
  font-weight: 400;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
header {
  background: #f5ba13;
  margin: auto 0;
  padding: 16px 48px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
header h1 {
  color: white;
  font-weight: 500;
}
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
footer p {
  padding: 16px;
}
.note {
  background: #fff;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.4em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note button {
  float: right;
  border: 0;
  background-color: white;
  color: #f5ba13;
  font-weight: bold;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
  position: relative;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
}
form input {
  padding: 4px 10px;
  border: none;
}
form textarea {
  padding: 4px 40px 4px 10px;
  border: none;
}
form button {
  max-width: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1px 1px;
  border-radius: 50%;
  border: none;
  background-color: #f5ba13;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
